/* @/blocks/TextAndImage/Component.module.css */
.container {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);

    @media (min-width: 768px) {
        flex-direction: row;
        align-items: flex-start;
        gap: var(--space-12);
    }
}

.container[data-layout="left"] {
    @media (min-width: 768px) {
        flex-direction: row-reverse;
    }
}

.container[data-layout="right"] {
    @media (min-width: 768px) {
        flex-direction: row;
    }
}

.textContent {
    flex: 1;
}