/* @/blocks/Cards/Component.module.css */
.grid {
    margin: 0 auto;
    display: grid;
    gap: var(--space-8);
    grid-template-columns: 1fr;

    @media (min-width: 768px) {
        gap: var(--space-4);
        &[data-cards="2"], &[data-cards="4"] {
            grid-template-columns: repeat(2, 1fr);
        }

        &[data-cards="3"] {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (min-width: 1024px) {
        &[data-cards="4"] {
             grid-template-columns: repeat(4, 1fr);
         }
    }
}

.card {
    display: flex;
    flex-direction: column;

    &:hover > * {
        @media (min-width: 768px) {
            transform: translateY(-4px);
            box-shadow: var(--shadow-lg);
        }
    }
}

.content {
    padding: var(--space-6);
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    flex: 1;
    background-color: light-dark(var(--background), var(--foreground));
    box-shadow: var(--shadow-md);
    border-radius: var(--radius-lg);
    transition: transform var(--transition-medium), box-shadow var(--transition-medium);

    @media (min-width: 768px) {
        padding: var(--space-8);
    }
}

.title {
    color: light-dark(var(--foreground), var(--background));
}